.start{
display: grid;
grid-template-columns: 50% 50%;
grid-template-rows: 50% 50%; 
background-color: antiquewhite;

}
.body-form{
  width: 30%;
  height: 50%;
  text-align: center;

}
.canvas-sty{
background-color: #61dafb;
height: 20px;
width: fit-content;
border: green  3px inset;

}

.personal-info-form{
  padding: 20%;
  border-left-color: aqua 3px solid;
  border:5px red solid;
  text-align: center;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20% 20% 20% 20% 20%; 
  column-gap: 10px;
  row-gap: 15px;
  display: grid;
  text-align: start;
 background-color: rgb(17, 226, 104);
 border: red px solid;
  
}

.personal-info-form label{
  font-weight: bold;
  color: blue;

}
.personal-info-form input{
  border: #bbcae7 4px solid;
  grid-template-rows: end;
  grid-area: initial;
}